/* 1 - Eng yuqorida Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,wght@0,300..900;1,300..900&display=swap');

/* 2 - Keyin Tailwind */
@import "tailwindcss";

/* 3 - Keyin @theme */
@theme {
  --color-primary: #2563eb;
  --color-secondary: #fbbf24;
}

/* 4 - Keyin custom style’lar */
* {
  font-family: Outfit;
}

.font-playfair {
  font-family: Playfair !important;
}
